# .env.local Template for Antigravity's Secret Manager

# Firebase Configuration
FIREBASE_API_KEY=
FIREBASE_PROJECT_ID=
FIREBASE_APP_ID=
FIREBASE_AUTH_DOMAIN=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=

# Project Specific
VISADM_SER_HTML_LOG_LEVEL=INFO
