<html>
<h2><div align="center">Exam Version {{ variant }}</div></h2>
<span style="color:blue"><b>Please ensure that you have selected the correct version of the exam questions!</b></span>
The version number should match the last digit of your student code.

<b>Solutions should be submitted in PDF format </b>. Each solution should clearly demonstrate the problem-solving process. Additionally, <b>each solution must include a ‘Summary’ section</b>. This section should provide the answer to the problem question and present any additional information required for the problem. 

If a problem involves a logarithmic function, it should be assumed that the function is a natural logarithm.

<h3><div align="center">Problem 1</div></h3>
Identify all critical points in the range {{ problem_range }}, determine the nature of each critical point, and create plots for the following function:

{{ problem_function }}
</html>
